body{
    max-width: 1300px;
    margin: auto;
}

.about{
    display: inline-grid;
    grid-template-columns:600px 300px 1fr  ;
    grid-template-rows: repeat(3,100px);
   width: 100%;
   grid-gap: 0;


   .para{
       padding: 20px;
    grid-column-start: 1;
       grid-column-end: 2;
   }
  

   .yellow{
       text-align: center;
       background-color: chocolate;
   }
}

img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,60px);
    text-align: center;
    border: 2px solid black;
}

.my-experience{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,200px);

    img{
        width: 50%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}



.my-education{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,50px);
}
